In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../raw_data/mbti_chunked_clean.csv')

In [4]:
df.head()

   chunk_id label                                               text
0         1  intj  the pope is infallible this is a catholic dogm...
1         2  intj  martin said that george floyd was in heaven it...
2         3  intj  while supporting abortion lol abortion again i...
3         4  intj  views on predestination exist in the catholic ...
4         5  intj  a little kitty cat i mean the real dangerousne...

In [8]:
df['label'].unique()

array(['intj', 'intp', 'entj', 'entp', 'infj', 'infp', 'enfj', 'enfp',
       'istj', 'isfj', 'estj', 'esfj', 'istp', 'isfp', 'estp', 'esfp'],
      dtype=object)

In [9]:
# SÃ©parer chaque lettre du type MBTI dans une nouvelle colonne
df['ie'] = df['label'].str[0].str.upper()  # I ou E
df['ns'] = df['label'].str[1].str.upper()  # N ou S
df['tf'] = df['label'].str[2].str.upper()  # T ou F
df['jp'] = df['label'].str[3].str.upper()  # J ou P

In [11]:
df['I'] = (df['ie'] == 'I').astype(int)
df['N'] = (df['ns'] == 'N').astype(int)
df['T'] = (df['tf'] == 'T').astype(int)
df['J'] = (df['jp'] == 'J').astype(int)

In [12]:
df.head()

,chunk_id,label,text,ie,ns,tf,jp,I,N,T,J
0,1,intj,the pope is infallible this is a catholic dogm...,I,N,T,J,1,1,1,1
1,2,intj,martin said that george floyd was in heaven it...,I,N,T,J,1,1,1,1
2,3,intj,while supporting abortion lol abortion again i...,I,N,T,J,1,1,1,1
3,4,intj,views on predestination exist in the catholic ...,I,N,T,J,1,1,1,1
4,5,intj,a little kitty cat i mean the real dangerousne...,I,N,T,J,1,1,1,1

In [24]:
print(f'balance of the target ie : {df['I'].value_counts(normalize=True)}')
print(f'balance of the target ns :{df['N'].value_counts(normalize=True)}')
print(f'balance of the target tf :{df['T'].value_counts(normalize=True)}')
print(f'balance of the target jp :{df['J'].value_counts(normalize=True)}')

balance of the target ie : I
1    0.664045
0    0.335955
Name: proportion, dtype: float64
balance of the target ns :N
1    0.785835
0    0.214165
Name: proportion, dtype: float64
balance of the target tf :T
0    0.582731
1    0.417269
Name: proportion, dtype: float64
balance of the target jp :J
0    0.543701
1    0.456299
Name: proportion, dtype: float64